{{!-- <h1>
  <span class="fa fa-cog"></span> Snippet details</h1>

<table class="table table-hover">

  <dl class="row">
    <dt class="col-sm-2">Name: {{viewData.snippet.name}}</dt>
    <dd class="col-sm-10"></dd>
    <p>{{viewData.snippet.name}}</p>

    <dt class="col-sm-2">Code</dt>
    <textarea class="form-control" name="snippetCode" rows="15" readonly>{{viewData.snippet.code}}</textarea>
  </dl>

</table> --}}

<div class="feature col-md-4">
  <h2>Name: {{viewData.snippet.name}}</h2>
  <p>Description: {{viewData.snippet.description}}</p>
  <p>Tag: {{viewData.snippet.tag}}</p>
</div>

  <dl class="row">
    <textarea class="form-control" name="snippetCode" rows="15" readonly>{{viewData.snippet.code}}</textarea>
  </dl>


{{!-- <div class="container py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Columns with icons</h2>
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
      </div>
      <h2>Featured title</h2>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
</div> --}}